$backgroundColor: #202020;
$font_family_1: "Poiret One";
$buttonColor: #202020;
$white: #ffffff;

h1 {
  font-size: 5em;
  font-family: "Poiret One";
}
.brand {
  font-size: 2em;
  font-family: "Poiret One";
}
.loginView {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  margin-bottom: 20px;
}

.submitButton {
  font-size: 1.25em;
  font-family: $font_family_1;
  background-color: $backgroundColor;
  margin: 2px;
  border: none;
}

.submitButton:hover {
  background-color: $white;
  color: $buttonColor;
}
