$backgroundColor: #202020;
$font_family_1: "Poiret One";
$white: #ffffff;
$buttonColor: #202020;

.profile-title {
  font-family: $font_family_1;
  font-size: 2em;
}
.submitButton {
  font-size: 1.25em;
  font-family: $font_family_1;
  background-color: $backgroundColor;
  margin: 2px;
  border: none;
}
.submitButton:hover {
  background-color: $white;
  color: $buttonColor;
}
